#include "Resource.h"

IDI_STOPWATCHICON           ICON                    "resources/icon.ico"

IDI_SMALLICON               ICON                    "resources/icon.ico"

SOUND_COUNTER               WAVDATA                 "Resources/ruins.wav"

BITMAP_FOOD                 BITMAPDATA              "resources/food.bmp"
